<h3>Directivas</h3>
  <h2>¿Qué es una directiva?</h2>

  <span class="texto"><p><strong>Concepto.- </strong>Las directivas básicamente nos permiten manipular, eliminar o añadir elementos del DOM, esta directiva se debe usar en el atributo del elemento del DOM y se las identifica con el * y el nombre de la directiva.</p></span>

  <span class="imagen"><img src="assets/estructuradirectiva.png" alt="Estructura de una directiva" width="25%" height="25%" title="Estructura de una directiva"/>
  </span>

  <p>Tipos de Directivas:</p>
  <ul>
      <li>
          <p><strong>Directivas de Componente:</strong> Es la que administra una región de HTML de una manera nativa como un elemento HTML.</p>

      </li>
      <li>
        <p><strong>Directiva de Atributo:</strong> Cambia la apariencia o el comportamiento de un elemento.</p>
    </li>
  </ul>

  <table style="width: auto;">
      <tr>
          <th>*ngIf</th>
          <th>*ngFor</th>
          <th>*ngSwitch</th>
      </tr>
      <tr>
        <td>Esta directiva toma una expresión booleana y hace que toda la porción del DOM aparezca o desaparezca dada esa condición. Ejemplo:
            <span class="imagen"><img src="assets/ngifdirectiva.png" alt="Directiva ngif" width="25%" height="25%" title="Ejemplo Directiva ngif"/>
            </span>
        </td>
        <td>Esta directiva es un poco más compleja que *ngIf. *ngFor permite generar iteraciones de elementos HTML. Posee partes obligatorias y opcionales. 
            <span class="imagen"><img src="assets/ngfordirectiva.png" alt="Directiva ngfor" width="25%" height="25%" title="Ejemplo Directiva ngfor"/>
            </span>
        </td>
        <td>Esta directiva corresponde a una seria de directivas que cooperan entre si para generar un resultado. Estas directivas son ngSwitch, ngSwitchCase y ngSwitchDefault. La directiva ngSwitch es una directiva de atributo, mientras que las directivas ngSwitchCase y ngSwitchDefault corresponden a directivas estructurales.
            <span class="imagen"><img src="assets/ngswitchdirectiva.png" alt="Directiva ngswitch" width="25%" height="25%" title="Ejemplo Directiva ngswitch"/>
            </span>
        </td>
    </tr>
  </table>