<p>Nuevo Componente Nuevo Modulo</p>

<h2>Peliculas de Accion</h2>
<p>Operación dragón</p>
<p>The Warriors, los amos de la noche</p>
<p>Rescate en Nueva York</p>

<h2>Peliculas de Marvel</h2>
<p>El hombre Hormiga</p>
<p>Thor</p>
<p>Hulk</p>

<h2>Peliculas de Comedia</h2>
<p>Mi hermano persigue dinosaurios</p>
<p>Amor en Polvo</p>
<p>Scooby Doo papa!!</p>
