<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  
</style>


<div class="toolbar" role="banner">
  <h3>Modulos y Componentes</h3>
  <h2>¿Qué es un modulo?</h2>

  <span class="texto"><p>Los módulos son contenedores para almacenar los componentes y servicios de una aplicación. En Angular cada programa se puede ver como un árbol de módulos jerárquico. A partir de un módulo raíz se enlazan otros módulos en un proceso llamado importación.</p></span>

  <span class="imagen"><img src="assets/estructuramodulo.JPG" alt="Estructura de un modulo" width="25%" height="25%" title="Estructura basica de un Modulo en Angular"/>
  </span>

  <p>Para generar un modulo se debe de ejecutar el comando <strong>g m nombre</strong> una vez creado el modulo se lo debe importar al modulo raiz de la siguiente manera:</p>
  <span class="imagen"><img src="assets/importemoduloraiz.JPG" alt="Estructura de un modulo" width="25%" height="25%" title="Importar el modulo creado al modulo raiz"/>
  </span>

  <h2>¿Qué es un componente?</h2>
  <span class="texto"><p><strong>Concepto.- </strong>Diría que el componente es una parte fundamental en angular, ya que es el encargado de almacenar 3 archivos, un CSS que le permite dar estilos a un archivo HTML y un archivo TS, entre los tres son los encargados de poder mostrar una parte visual para la pagina que se requiere crear…</p></span>

  <p>Para crear un componente se debe usar el comando <strong>ng g c nombre</strong> a continuacion los pasos que se deben seguir para que funcione el componente:</p>
  <ol>
    <li><span class="imagen"><img src="assets/EstructuraComponente.png" alt="Estructura de un componente" width="25%" height="25%" title="Estructura de un componente"/>
    </span></li>
    <li><span class="imagen"><img src="assets/llamadocomponente.png" alt="LLamado de un nuevo componente en el modulo raiz" width="25%" height="25%" title="LLamado de un nuevo componente en el modulo raiz"/>
    </span></li>
    <li><span class="imagen"><img src="assets/componenteenindex.png" alt="Componente en el index" width="25%" height="25%" title="Componente en el index"/>
    </span></li>
  </ol>
  
  <app-directivas></app-directivas>
  <app-peliculas></app-peliculas>
  
  
  
</div>




