/* You can add global styles to this file, and also import other style files */
h2{
    text-align: center;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}

.texto{
    text-align: justify;
    color: blue;
    font-family: cursive;
    margin: auto;
    font-size: unset;
}

.imagen{
    border: black 1px;
    margin-left: 25%;
    margin-right: 25%;
    

}
